.contact-section {
  padding: 5rem 0 0;
  
  .small {
    font-size: 1em;
  }
  .card-body {
    padding: 0;
  }
  .card {

    color: $black;
    border: 0;
    border-radius: 0;
    h4 {
      font-size: 0.8rem;
      font-family: $ibm;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $gray-800;
      border-width: 0.25rem;
      width: 3rem;
    }
    i {
      color: $gray-800 !important;
      font-size: 2em;
    }
    a {
      
      color: $black !important;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      font-size: 1.5em;
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: $gray-100;
      border-radius: 100%;
      line-height: 3rem;
      color: $gray-800;
      &:hover {
        color: $black;
      }
      &:active {
        color: $black;
      }
    }
  }
}
