.masthead div {
  will-change: transform;
  transform: translateZ(0);
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    filter: grayscale(20%) brightness(1.32);
    background: linear-gradient(to bottom, #{fade-out($black, 1)} 0%, #{fade-out($black, .9)} 75%, $black 100%), url('../img/bg-masthead.jpg');
    background-position: 7% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  h1 {
    text-shadow: 0 1px 6px $black;
    color: $gray-100;
    font-family: $ibmc;
    font-size: 2rem;
    line-height: 2rem;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 5rem;
      line-height: 5rem;
      letter-spacing: 0.8rem;
    }
  }
}
